html {
    box-sizing: border-box;
    min-height: 100%;
}

body {
    background: linear-gradient(to top right, #fc2c77 0%, #6c4079 100%);
    min-height: 100%;
    padding: 0;
}

.form-outer {
    margin: 20px 0;
    background: #fff;
    padding: 15px;
    box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.15);
    border-radius: 10px;
}

label.required:after   {
    color: #e32;
    content: ' *';
    display:inline;
}
label.required.form-check-label:after   {
    content: '';
    display:inline;
}

@import "../../node_modules/bootstrap";