{% extends 'base.html.twig' %}
{% form_theme form 'bootstrap_4_layout.html.twig' %}
{% block title %}Hello UserController!{% endblock %}

{% block body %}
    <div class="row">
        <div class="col"></div>
        <div class="col">
            <div class="form-outer">
                <h5 class="text-center">
                    Norėdami gauti naujienas dėl renovacijos ir bendrijos užpildykite šią formą:
                </h5>
            {{ form(form) }}
            </div>
        </div>
        <div class="col"></div>
    </div>
{% endblock %}
