{% extends 'base.html.twig' %}

{% block title %}Registracija sėkminga{% endblock %}

{% block body %}
    <div class="row">
        <div class="col d-none  d-lg-block "></div>
        <div class="col">
            <div class="form-outer">
                <h3 style="text-align: center">Jūsų duomenys išsaugoti sėkmingai!</h3>
                <h6 style="text-align: center">Jei jūsų norite kad duomenys būtu ištrinti iš mūsų duomenubazės
                    praneskite apie tai elektroniniu paštu: dnsb.tilze@gmail.com</h6>
            </div>
        </div>
        <div class="col d-none  d-lg-block "></div>
    </div>
{% endblock %}
